<p><%= notice %></p>

<h1>stations</h1>

<table>
  <thead>
    <tr>
      <th>line name</th>
      <th>Station name</th>
      <th>minutes on foot</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |station| %>
      <tr>
        <td><%= station.line_name %></td>
        <td><%= station.station_name %>円</td>
        <td><%= station.minutes_on_foot %></td>
        <td><%= station.property %></td>
        <td><%= link_to 'Show', station %></td>
        <td><%= link_to 'Edit', edit_station_path(station) %></td>
        <td><%= link_to 'Destroy', station, method: :delete, data: { confirm: 'you sure？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New station', new_station_path %>
