<p id="notice"><%= notice %></p>

<p>
  <strong>line name:</strong>
  <%= @station.line_name %>
</p>

<p>
  <strong>Station name:</strong>
  <%= @station.station_name %>
</p>

<p>
  <strong>Minutes walk:</strong>
  <%= @station.minutes_on_foot %>
</p>

<p>
  <strong>Property:</strong>
  <%= @station.property %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
